/classes/
/build/
/nars-dist/
/nbproject/private/

/dist/
/nars_web/client/lib/jquery-ui/themes/
/nars_web/client/lib/jquery/src/

/lib/cache_dir/
/lib/cachedir/


.jacocoverage/
jacoco**


/nbproject/yjp-build-impl.xml
/yjp-build.xmltarget
/nars_java/target/
/nars_gui/target/
/nars_lab/target/
/nars_prolog/target/
/nars_web/target/.idea
target/
opennars.iml
*.iml
.idea/
/dev/netbeans/nbproject/private/
/dev/netbeans/build/
/dev/netbeans/dist/
hs_err_pid*

nb-configuration.xml

UIFiles/
