/classes/
/build/
/nars-dist/
/nbproject/private/

/out/
/dist/
/nars_web/client/lib/jquery-ui/themes/
/nars_web/client/lib/jquery/src/

/lib/cache_dir/
/lib/cachedir/


.jacocoverage/
jacoco**


/nbproject/yjp-build-impl.xml
/yjp-build.xml