/classes/
/build/
/nars-dist/
/nbproject/private/

/out/
/dist/
/nars_web/client/lib/jquery-ui/themes/
/nars_web/client/lib/jquery/src/

/lib/cache_dir/
/lib/cachedir/


.jacocoverage/
jacoco**


/nbproject/yjp-build-impl.xml
/yjp-build.xml# Useful examples
# https://github.com/github/gitignore

# OS X
*.DS_Store

# Java
*.jar
*.war
*.ear

# C/C++
*.so
*.dylib
*.dSYM
*.dll
*.jnilib

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Directories
**/bin/
**/classes/
**/dist/
**/include/
**/nbproject/
/.libs/
/findbugs/
/target/

#intellij
.idea/
*.iml

#logs
*.log

#project specific
/src/genjava
