.root {
            -fx-base: rgb(20, 20, 20);
            -fx-background: rgb(20, 20, 20);
            -fx-control-inner-background:  rgb(0, 0, 0);
    /* A bright blue for highlighting/accenting objects.  For example: selected
     * text; selected items in menus, lists, trees, and tables; progress bars;
     * default buttons.
     */
    -fx-accent: #aa5500;

    /* A bright blue for the focus indicator of objects. Typically used as the
     * first color in -fx-background-color for the "focused" pseudo-class. Also
     * typically used with insets of -1.4 to provide a glowing effect.
     *
     * TODO: should this be derived from -fx-accent?
     */
    -fx-focus-color: #aa5500;
    }
