/* NARfx Dark Theme */

/*      javafx default theme reference: http://pastebin.com/0PebD9nR */

.root {
    -fx-font-family: monospace;
    /*-fx-font-family: 'Monospaced';*/


    -fx-base: transparent;

    -fx-text-base-color: rgb(230,230,230);

    -fx-background: rgb(0, 0, 0);

    -fx-fill: #fff;

    -fx-background-insets:  0.0;
    -fx-background-radius: 0.0;
    -fx-border-radius:0,0;
    -fx-border-width: 0;

    /*-fx-control-inner-background: transparent;*/

    /* A bright blue for highlighting/accenting objects.  For example: selected
     * text; selected items in menus, lists, trees, and tables; progress bars;
     * default buttons.
     */
    -fx-accent: #333;

    /* A bright blue for the focus indicator of objects. Typically used as the
     * first color in -fx-background-color for the "focused" pseudo-class. Also
     * typically used with insets of -1.4 to provide a glowing effect.
     *
     * TODO: should this be derived from -fx-accent?
     */
    -fx-focus-color: #222;

    /*-fx-text-base-color: rgb(252.0, 240.0, 237.0);
    -fx-text-fill: -fx-text-base-color;*/

     /*-dark: rgb(55.0, 55.0, 55.0);
     -fx-background-color: -dark;*/

    /*default font */
    /*-fx-font-size: 16.0px;*/
    /*-fx-disabled-opacity: 0.8;*/

    /*-flatter-red: rgb(237.0, 68.0, 37.0);
    -flatter-blue: rgb(0.0, 184.0, 222.0);*/

}
.root.popup {
    -fx-background-color: black;
    -fx-border-width: 0;
}

.control {
    -fx-base-color: /*transparent;*/ /*rgb(30,30,30); */
        rgba(0,0,0,1);
}

.text-input-control {
    -fx-fill: gray;
    -fx-base-color: /*transparent;*/ /*rgb(30,30,30); */
        rgba(125,125,125,0.25);
}

/*
.button {
    -fx-padding: 10 10 10 10;
    -fx-background: rgb(30, 30, 30);
    -fx-background: transparent;
}
*/
/*
.spaceselector {
    -fx-fill: transparent !important;
    -fx-stroke-width: 4px 4px 4px 4px !important;
    -fx-stroke: rgb(255,100,10) !important;
}
*/

/*.button:hover {

}
.button:pressed {

}*/

.thread_control .button {
    -fx-padding: 8 16 8 16;

}


.menubuttonLabel {
    -fx-fill: #fff;
}

.ComingSoon {

    -fx-font-size: 150%;
    -fx-font-style: italic bold;
    -fx-opacity: 0.25;

}

/* from: http://www.e-zest.net/blog/gradients-in-javafx-2/#prettyPhoto */
.grad-repeat-1{
   -fx-background-color: radial-gradient(center 50% 50% , radius 12% , repeat, #fffaf0, #008080, #90ee90);
}

.grad-repeat-2{
   -fx-background-color: radial-gradient(focus-distance -59%, center 97% 50% , radius 36% , #ff8c00, #dc143c, #008b8b);
}

.grad-repeat-3{
   -fx-background-color: radial-gradient(focus-angle 45deg , focus-distance 20% , center 25% 25% , radius 50% , reflect, #808080, #a9a9a9 75% , #696969);
}

.nar_main_menu {
    -fx-font-size: 150%
}
.nar_main_menu .menu {
    -fx-fill: white;
    -fx-text-fill: white;
}

.selected {
    -fx-background-color: #446;
    -fx-text-fill: #8f8;
}

.monoconsole {
    /*-fx-font-size: 350%;*/
}

.plugin_button {
    -fx-padding: 3px;
    -fx-background-color: rgb(45,45,45) !important;
    -fx-control-inner-background:  transparent !important;
    -fx-border-width: 0px 0px 0px 6px;
    -fx-border-color: gray;
    -fx-border-insets: 4px 4px 4px 0px;
}
.plugin_button:hover {
    -fx-border-color: lightgray;
    /*-fx-scale-x: 1.25;
    -fx-scale-y: 1.25;*/
}
.plugin_button:armed {
    -fx-background-color: rgb(65,65,65) !important;
    -fx-border-color: yellow !important;
}
.plugin_button:selected {
    -fx-background-color: rgb(55,55,55) !important;
    -fx-border-color: orange;
}


.windget {

    -fx-border-width: 4px 4px 4px 4px;
    -fx-border-color: transparent;

    -fx-background-color: rgb(75,75,75) !important;
}
.windget:hover {
    -fx-background-color: rgb(100,100,100) !important;
}

.windgetContent {
    -fx-background-color: rgb(25,25,25) !important;
}
.graphpopup {
    -fx-background-color: rgba(100,100,100,0.45) !important;
    -fx-border-width: 2px 2px 2px 12px;
    -fx-border-color: transparent;
}



.code-area {
    -fx-background-color: #000;
    /*-fx-font-size: 150%;*/
}
.code-area-default {
     -fx-fill: white;
     /*-fx-font-weight: bold;*/
}


/* Pasted from:  http://search.maven.org/#artifactdetails%7Ccom.guigarage%7Cflatter%7C0.7%7Cjar */


.mnemonic-underline {
    -fx-stroke: transparent;
}

.text {
    /*-fx-font-smoothing-type: lcd;*/
}

.emoji-text {
    -fx-fill: -fx-text-base-color;
}

/**** size variants **********************************************************/
/*.size-variant-touch {
    -fx-font-size: 9.0;
}

.size-variant-desktop {
    -fx-font-size: 16.0;
}*/

.label {
    -fx-text-fill: -fx-text-base-color;
}

/* http://javadox.com/org.controlsfx/controlsfx/8.0.6/org/controlsfx/control/spreadsheet/SpreadsheetCellBase.html */
.spreadsheet-cell {
    -fx-text-fill: -fx-text-base-color;
    -fx-background: transparent;
    -fx-background-color: transparent;
    -fx-border-color: orange;
}

/*******************************************************************************
 *                                                                             *
 * Label                                                                       *
 *                                                                             *
 ******************************************************************************/
/*
.label:disabled {
    -fx-opacity: -fx-disabled-opacity;
}

.label:show-mnemonics > .mnemonic-underline {
    -fx-stroke: -fx-text-base-color;
}

.text {
    -fx-effect:dropshadow(gaussian, rgb(0.0, 0.0, 0.0, 0.2), 0.0, 0.0, 0.0, 1.0);
}
*/

/*******************************************************************************
 *                                                                             *
 * Button & ToggleButton                                                       *
 *                                                                             *
 ******************************************************************************/


.label, .toggle-button, .button, .tree-cell {
    /*-fx-text-fill: -fx-text-base-color;
    -fx-fill: -fx-text-base-color;*/
    -fx-padding: 1px;
    -fx-label-padding: 0em;
}

.tree-cell .tree-disclosure-node .arrow {
    -fx-background-color: #f00;
    -fx-padding: 0.333333em; /* 4 */
    -fx-shape: "M 0 -4 L 8 0 L 0 4 z";
}


.tree-cell:focused {
    -fx-background-color: #242;
}

.toggle-button, .button{
    /*-fx-fill: -fx-text-base-color;*/
    -fx-alignment: CENTER;
    /*-fx-content-display: LEFT;*/
}

.toggle-button:hover, .button:hover, .slider:hover {
    -fx-text-fill: #000;
    -fx-background-color: #fb0;
}
.toggle-button:armed, .button:armed {
    -fx-text-fill: #000;
    -fx-fill: #000;
    -fx-background-color: #f50;
}

/*.toggle-button:focused,
.button:focused,
.button:default:focused { }*/ /*-fx-background-color: derive(-flatter-red, 50.0%);*/




/*.toggle-button:focused:selected { }*/
       /*-fx-background-color: derive(-flatter-red, 50.0%), derive(-flatter-red, -20.0%);*/
       /*-fx-background-insets: 0.0, 0.2em;*/


/*.toggle-button:armed,
.toggle-button:selected,
.button:armed,
.button:default:armed {
     -fx-background-color: derive(-flatter-red, -20.0%);
}*/
/*.tab-pane *.tab-header-background {
    -fx-background-color: rgb(0.25,0.25,0.25) !important;
    -fx-border-color: rgb(0.5,0.5,0.5) !important;
    -fx-border-width: 0.5 !important;
}*/

/*******************************************************************************
 *                                                                             *
 * TextField & TextArea                                                        *
 *                                                                             *
 ******************************************************************************/


.text-area , .text-field {

    -fx-border-color: gray;
    -fx-border-width: 1;
    /*-fx-background-insets:  0.0;*/
    -fx-text-fill: white;

    -fx-padding: 2 2 2 2;

    /*-fx-prompt-text-fill: derive(-dark, 50.0%);*/
    -fx-highlight-fill: rgb(94.0, 233.0, 194.0);
}

.text-area .text, .text-field > * > .text {
    -fx-effect: null;
}


.text-area .content {
    /*-fx-border-width: 0.0;
    -fx-background-color: transparent;*/
}

.text-area:focused  .content {
    -fx-background-color: transparent;
}

.text-area:focused, .text-field:focused {
}

.slider {
   -fx-alignment: CENTER;
   -fx-background-color: #333; /*-flatter-blue; */
 }

.slider:vertical > .track-background,
.scroll-bar:vertical > .track-background,
.scroll-bar:horizontal > .track-background{
    -fx-background-color: #888; /*derive(rgb(94.0, 103.0, 234.0), 50.0%);*/
    -fx-background-insets: 0.0;
}

.slider:vertical > .thumb,
.scroll-bar:vertical > .thumb,
.scroll-bar:horizontal > .thumb {
    -fx-background-color: #ddd; /*-flatter-blue; */
    -fx-background-insets: 0.0;
}

.scroll-bar > .increment-button,
.scroll-bar > .decrement-button,
.scroll-bar:hover > .increment-button,
.scroll-bar:hover > .decrement-button {
    -fx-background-color: transparent;
}

.scroll-bar > .increment-button > .increment-arrow,
.scroll-bar > .decrement-button > .decrement-arrow {
    -fx-background-color: white;
}

.scroll-bar > .track-background{
    -fx-background-color:transparent;
}


/*******************************************************************************
 *                                                                             *
 * ComboBox                                                                    *
 *                                                                             *
 ******************************************************************************/
/*.combo-box-base {
    -fx-skin: "com.guigarage.flatterfx.skin.FlatterComboBoxSkin";
}*/

.
.title-bar {
    -fx-padding: 10;
}

.title-bar .icon {
    /*-fx-alignment: center-left;
    -fx-effect:dropshadow(gaussian, rgb(0.0, 0.0, 0.0, 0.2), 0.0, 0.0, 0.0, 1.0);*/
}

.title-bar .title-label {
    -fx-padding: 0 10 0 10;
    -fx-alignment: center;
    -fx-font-size: 150% !important;
    -fx-font-weight: bolder !important;
}

.h1 {
    -fx-font-size: 120% !important;
    -fx-font-weight: bolder !important;
}

/*.content-area {
    -fx-background-color: -dark;
}*/


/*.content-background {*/
    /*-fx-background-color: -flatter-red;
    -fx-background-radius:0.0 0.0 11.0 11.0;
    -fx-padding: 0 10 10 10;*/
/*}*/


/*******************************************************************************
 *                                                                             *
 * ChoiceBox                                                                   *
 *                                                                             *
 ******************************************************************************/
/*
.combo-box-base,
.choice-box {
    -fx-background-color: -flatter-red;
    -fx-background-insets:  0.0;
    -fx-background-radius: 2.0;
    -fx-border-width: 0.0;
}

.combo-box-base > .label,
.choice-box > .label {
    -fx-padding:0.7em 1.7em 0.7em 0.7em;
}

.combo-box-base > .arrow-button,
.choice-box > .open-button {
    -fx-padding: 1.2em 0.7em 1.2em 0.5em;
    -fx-background-radius: 0.0 2.0 2.0 0.0;
}

.combo-box-base:focused,
.choice-box:focused{
    -fx-background-color: derive(-flatter-red, 50.0%);
}

.combo-box-base > .arrow-button > .arrow,
.choice-box > .open-button > .arrow {
    -fx-background-color: white;
    -fx-padding: 0.2em;
    -fx-effect:dropshadow(gaussian, rgb(0.0, 0.0, 0.0, 0.2), 0.0, 0.0, 0.0, 1.0);

*/

.context-menu {
    -fx-background-color: rgb(10,10,10,0.8);
}


/*
.radio-menu-item:checked > .left-container > .radio,
.check-menu-item:checked > .left-container > .check {
    -fx-background-color: -dark;
    -fx-shape: "m 269.9,233.66286 c 0.15,-0.12 1.97,1.7 2.54,3.1 2.3,-7.33 4.09,-9.1 6.79,-12.1 1.5,-0.25 2.4,-0.27 4.36,0.11 -7.1,5.8 -8.8,16.7 -9.9,17.8 l -0.75,0.02 c 0,0 -2.36,-5.24 -5.6,-7.38 -0.27,-0.17 0.02,-1.5 -0.2,-1.6 z";
    -fx-padding: 0.68em 0.5em 0.0em 0.0em;
    -fx-effect: dropshadow(gaussian, rgb(0.0, 0.0, 0.0, 0.2), 0.0, 0.0, 0.0, 1.0);
}


.radio-menu-item > .left-container > .radio,
.check-menu-item > .left-container > .check {
    -fx-background-color: transparent;
    -fx-shape: "m 269.9,233.66286 c 0.15,-0.12 1.97,1.7 2.54,3.1 2.3,-7.33 4.09,-9.1 6.79,-12.1 1.5,-0.25 2.4,-0.27 4.36,0.11 -7.1,5.8 -8.8,16.7 -9.9,17.8 l -0.75,0.02 c 0,0 -2.36,-5.24 -5.6,-7.38 -0.27,-0.17 0.02,-1.5 -0.2,-1.6 z";
    -fx-padding: 0.68em 0.68em 0.0em 0.0em;
}
*/

.menu-item:focused {
    -fx-background-color: rgb(20, 50, 10);
}

.menu {
    padding: 0.05em;
    background: transparent;
}

/*******************************************************************************
 *                                                                             *
 * CheckBox                                                                    *
 *                                                                             *
 ******************************************************************************/

/*
.check-box {
    -fx-text-fill: -fx-text-base-color;
}

.check-box > .box,
.check-box > .box.unfocused,
.check-box:disabled > .box,
.check-box:selected > .box,
.check-box:indeterminate > .box {
    -fx-background-radius: 2.0;
    -fx-background-color: -fx-text-base-color;
}

.check-box:focused > .box {
    -fx-background-color: -flatter-blue, derive(rgb(94.0, 203.0, 234.0), 80.0%);
    -fx-background-insets: 0.0, 0.15em;
}

.check-box:focused:armed > .box {
    -fx-background-color: -flatter-blue, derive(-fx-text-base-color, 80.0%);
    -fx-background-insets: 0.0, 0.15em;
}

.check-box:selected > .box > .mark,
.check-box:indeterminate > .box > .mark {
    -fx-background-color: -dark;
}

.check-box:indeterminate > .box > .mark {
    -fx-background-insets: -0.06em -0.17em -0.07em -0.17em;
}
*/

/*******************************************************************************
 *                                                                             *
 * RadioButton                                                                 *
 *                                                                             *
 ******************************************************************************/

/*
.radio-button {
    -fx-text-fill: -fx-text-base-color;
}

.radio-button > .radio,
.radio-button > .radio.unfocused,
.radio-button:disabled > .radio,
.radio-button:selected > .radio {
    -fx-background-color: -fx-text-base-color;
    -fx-padding: 0.4em;
}

.radio-button:focused > .radio {
    -fx-background-color: -flatter-blue, derive(rgb(94.0, 203.0, 234.0), 80.0%);
    -fx-background-insets: 0.0, 0.15em;
    -fx-padding: 0.4em;
}

.radio-button:focused:armed > .radio {
    -fx-background-color: -flatter-blue, derive(-fx-text-base-color, 80.0%);
    -fx-background-insets: 0.0, 0.15em;
}

.radio-button:selected > .radio > .dot {
    -fx-background-color: -dark;
}
*/

/*******************************************************************************
 *                                                                             *
 * ProgressBar                                                                 *
 *                                                                             *
 ******************************************************************************/

.progress-bar > .track {
    -fx-background-color: -fx-text-base-color;
    /*-fx-background-radius: 2.0;*/
    -fx-padding: 0.0;
}

.progress-bar > .bar {
    /*-fx-background-color: -flatter-blue;
    -fx-background-radius: 2.0;*/
    -fx-background-insets: 0.0;
    -fx-border-width: 0.0;
    -fx-effect: null;
}

.progress-bar:indeterminate > .bar {
    /*-fx-background-color: derive(-flatter-blue, 50.0%);
    -fx-background-radius: 2.0;*/
    -fx-background-insets: 0.0;
    -fx-border-width: 0.0;
    -fx-effect: null;
}

/*******************************************************************************
 *                                                                             *
 * ProgressIndicator                                                           *
 *                                                                             *
 ******************************************************************************/

.progress-indicator > .determinate-indicator > .indicator {
    -fx-background-color: rgb(255.0, 255.0, 255.0, 0.5);
    -fx-padding: 0.0;
}

.progress-indicator > .determinate-indicator > .progress {
    -fx-background-color:  -flatter-blue,  derive(-flatter-blue, 50.0%);
    -fx-background-insets: 0.0, 0.4em;
    -fx-padding: 1.0em;
}

.progress-indicator > .determinate-indicator > .percentage {
    -fx-fill: white;
    -fx-translate-y: -2.4em;
    -fx-padding: 0.0;
}

.progress-indicator > .indeterminate-indicator > .segment {
   -fx-background-color: rgb(0.0, 183.0, 221.0);
   -fx-scale-x: 0.05em;
   -fx-scale-y: 0.05em;
}
/*
.progress-indicator:indeterminate .segment {
    -fx-shape:"M 71.079865,1.4240656 A 12.821762,12.821762 0 0 1 58.258103,14.245828 l -10e-7,-12.8217624 z";
    -fx-scale-shape: false;
}

.progress-indicator:indeterminate .segment0 {
     -fx-translate-x: -0.7em;
     -fx-translate-y: -0.03em;
}

.progress-indicator:indeterminate .segment1 {
    -fx-rotate: 90;
    -fx-translate-x: 0.177em;
    -fx-translate-y: -1.333em;

}

.progress-indicator:indeterminate .segment2 {
    -fx-rotate: 180;
    -fx-translate-x: 1.5em;
    -fx-translate-y: -0.5em;
}

.progress-indicator:indeterminate .segment3 {
    -fx-rotate: 270;
    -fx-translate-x: 0.67em;
    -fx-translate-y: 0.8em;

}
.progress-indicator:indeterminate .segment4 {-fx-shape:null;}
.progress-indicator:indeterminate .segment5 {-fx-shape:null;}
.progress-indicator:indeterminate .segment6 {-fx-shape:null;}
.progress-indicator:indeterminate .segment7 {-fx-shape:null;} */

.sublabel {
    -fx-font-size: 75%;
}

.error {
    -fx-text-style: italic;
    -fx-background-color: red;
    -fx-fill: white;
    -fx-text-fill: white;
}

