/* javafx default theme reference: http://pastebin.com/0PebD9nR */

.root {
    -fx-font-family: monospace;
    /*-fx-font-family: 'Monospaced';*/
}
.button {
    -fx-padding: 20 20 20 20;
    /*-fx-background: transparent;*/
}
/*.button:hover {

}
.button:pressed {

}*/

.thread_control .button {
    -fx-padding: 8 16 8 16;
}


.menubuttonLabel {
    -fx-fill: #fff;
}

.ComingSoon {

    -fx-font-size: 150%;
    -fx-font-style: italic bold;
    -fx-opacity: 0.25;

}

/* from: http://www.e-zest.net/blog/gradients-in-javafx-2/#prettyPhoto */
.grad-repeat-1{
   -fx-background-color: radial-gradient(center 50% 50% , radius 12% , repeat, #fffaf0, #008080, #90ee90);
}

.grad-repeat-2{
   -fx-background-color: radial-gradient(focus-distance -59%, center 97% 50% , radius 36% , #ff8c00, #dc143c, #008b8b);
}

.grad-repeat-3{
   -fx-background-color: radial-gradient(focus-angle 45deg , focus-distance 20% , center 25% 25% , radius 50% , reflect, #808080, #a9a9a9 75% , #696969);
}

.nar_main_menu {
    -fx-font-size: 150%
}
.nar_main_menu .menu {
    -fx-fill: white;
    -fx-text-fill: white;
}

.selected {
    -fx-background-color: #446;
    -fx-text-fill: #8f8;
}

.monoconsole {
    /*-fx-font-size: 350%;*/
}

.plugin_button {
    -fx-padding: 4px;
    -fx-background-color: rgb(45,45,45) !important;
    -fx-control-inner-background:  transparent !important;
    -fx-border-width: 0px 0px 0px 12px;
    -fx-border-color: gray;
    -fx-border-insets: 4px 4px 4px 0px;
}
.plugin_button:hover {
    -fx-border-color: lightgray;
    /*-fx-scale-x: 1.25;
    -fx-scale-y: 1.25;*/
}
.plugin_button:armed {
    -fx-background-color: rgb(65,65,65) !important;
    -fx-border-color: blue !important;
}
.plugin_button:selected {
    -fx-background-color: rgb(55,55,55) !important;
    -fx-border-color: green;
}