.code-area {
    -fx-background-color: #262626;
    -fx-font-family: monospace;
    -fx-font-size: 150%;
}

.code-area-default {
     -fx-fill: white;
     /*-fx-font-weight: bold;*/
}

.spacegraph {

}

.dark {
    -fx-background-color: #111;
    -fx-fill: white;
}

.windget {

    -fx-background-color: linear-gradient(to top right, #ff7f50d0, #6a5acdd0);
    -fx-padding: 0.5em;
}