.code-area {
    -fx-background-color: #262626;
    -fx-font-family: monospace;
    -fx-font-size: 150%;
}

.code-area-default {
     -fx-fill: white;
     /*-fx-font-weight: bold;*/
}

.spacegraph {

}

.dark {
    -fx-background-color: #111;
    -fx-fill: white;
}