body {
    padding-left: 0.25em;
    padding-top: 0.25em;
    padding-right: 0.25em;
    font-size: 100%;
    font-family: Monospace;
    background: black;
    color: white;
}
#io {
    position: fixed;
    width: 100%;
    height: 500px;
    padding-bottom: 2em;
    overflow: auto;
}
pre {
    color: white;
    margin: 0;
}
#input {
    position: fixed;
    width: 100%;
    height: 2em;
    bottom: 0;
}
#inputArea {
    background: transparent;
    width: 100%;
    border: green;
    color: white;

}



#io .section {
    width: 100%;
    margin-top: 1em;
    margin-bottom: 1em;
}
#io .section textarea {
    width: 100%;
    height: 4em;    
}
#io .section .output{
    margin-left: 1em;
    margin-top: 1em;
    max-width: 95%;
    overflow: auto;
}
#io .section button {
    width: 1.5em;
    position: absolute;
    right: 2em;    
    padding: 0;
}



.in {
}
.out {
}
.comment {
}
.previousInput {
    opacity: 0.85;    
}
#menu {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    font-size: 150%;
    z-index: 5;
    padding: 4px;
}
#menu button {
    vertical-align:top;
}
#menubuttons {
    float: left;    
}
#menubuttons button {
    margin: 0;
    font-size: 100%;

}


.active {
}
#volume {
    float: left;
    clear:none;
    height: 2em;
    margin-top: 0.5em;
}

